force-app/main/default/flows/Get_Pipeline_Analytics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Analytics_Service</name>
        <label>Call Analytics Service</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <actionName>OpportunityQueryService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Analytics_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Analytics_Fault_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queryType</name>
            <value>
                <stringValue>PIPELINE_TOTALS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stageFilter</name>
            <value>
                <elementReference>stageFilter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerIdFilter</name>
            <value>
                <elementReference>ownerIdFilter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityQueryService</nameSegment>
        <outputParameters>
            <assignToReference>apexResultJson</assignToReference>
            <name>resultJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexErrorMsg</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Analytics_Fault_Error</name>
        <label>Set Analytics Fault Error</label>
        <locationX>396</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Analytics_Service_Error</name>
        <label>Set Analytics Service Error</label>
        <locationX>396</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexErrorMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Analytics_Text</name>
        <label>Set Analytics Text</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>analyticsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexResultJson</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Analytics_Success</name>
        <label>Check Analytics Success</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Set_Analytics_Service_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Failed</defaultConnectorLabel>
        <rules>
            <name>Analytics_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Analytics_Text</targetReference>
            </connector>
            <label>Analytics Succeeded</label>
        </rules>
    </decisions>
    <description>Auto-launched Flow: Pipeline aggregation and segmentation. Invokes OpportunityQueryService with PIPELINE_TOTALS query type and returns analyticsText. Part of Opportunity Intelligence Agentforce Agent (US-0000184).</description>
    <interviewLabel>Get_Pipeline_Analytics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Pipeline Analytics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Call_Analytics_Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Formatted analytics result returned to the Agentforce agent.</description>
        <name>analyticsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>apexErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexResultJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error message populated when the Flow terminates via the Fault connector.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Optional filter criteria string passed from the Agentforce agent.</description>
        <name>filterCriteria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Optional Owner Id filter for segmentation.</description>
        <name>ownerIdFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Optional Stage filter for segmentation.</description>
        <name>stageFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
