force-app/main/default/flows/Get_Opportunity_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_OpportunityQueryService</name>
        <label>Call OpportunityQueryService</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <actionName>OpportunityQueryService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Apex_Fault_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queryType</name>
            <value>
                <stringValue>DEEP_DIVE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityQueryService</nameSegment>
        <outputParameters>
            <assignToReference>apexOpportunitiesJson</assignToReference>
            <name>opportunitiesJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexErrorMsg</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Apex_Fault_Error</name>
        <label>Set Apex Fault Error</label>
        <locationX>396</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Missing_Id_Error</name>
        <label>Set Missing Id Error</label>
        <locationX>396</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Opportunity_Summary: opportunityId input is blank or null. Flow terminated.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Service_Error</name>
        <label>Set Service Error</label>
        <locationX>396</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexErrorMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Summary_Text</name>
        <label>Set Summary Text</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>summaryText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexOpportunitiesJson</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Success</name>
        <label>Check Success</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Set_Service_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Failed</defaultConnectorLabel>
        <rules>
            <name>Service_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Summary_Text</targetReference>
            </connector>
            <label>Service Succeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_OpportunityId</name>
        <label>Validate Opportunity Id</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Set_Missing_Id_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Id Is Blank</defaultConnectorLabel>
        <rules>
            <name>Id_Is_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_OpportunityQueryService</targetReference>
            </connector>
            <label>Id Is Provided</label>
        </rules>
    </decisions>
    <description>Auto-launched Flow: Deep-dive summary for a single Opportunity. Invokes OpportunityQueryService and returns formatted summaryText. Part of Opportunity Intelligence Agentforce Agent (US-0000184).</description>
    <interviewLabel>Get_Opportunity_Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Opportunity Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Validate_OpportunityId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>errorMessage from OpportunityQueryService.</description>
        <name>apexErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>opportunitiesJson output from OpportunityQueryService.</description>
        <name>apexOpportunitiesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>success flag from OpportunityQueryService.</description>
        <name>apexSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error message populated when the Flow terminates via the Fault connector.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Salesforce Opportunity Id for the deep-dive query.</description>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Formatted natural-language summary returned to the Agentforce agent.</description>
        <name>summaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
