force-app/main/default/flows/Get_At_Risk_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_AtRisk_Service</name>
        <label>Call AtRisk Service</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <actionName>OpportunityQueryService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_AtRisk_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_AtRisk_Fault_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queryType</name>
            <value>
                <stringValue>AT_RISK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>OpportunityQueryService</nameSegment>
        <outputParameters>
            <assignToReference>apexOpportunitiesJson</assignToReference>
            <name>opportunitiesJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexErrorMsg</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_AtRisk_Fault_Error</name>
        <label>Set AtRisk Fault Error</label>
        <locationX>396</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_AtRisk_Service_Error</name>
        <label>Set AtRisk Service Error</label>
        <locationX>396</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexErrorMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_AtRisk_Text</name>
        <label>Set AtRisk Text</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>atRiskText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apexOpportunitiesJson</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_AtRisk_Success</name>
        <label>Check AtRisk Success</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Set_AtRisk_Service_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Failed</defaultConnectorLabel>
        <rules>
            <name>AtRisk_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AtRisk_Text</targetReference>
            </connector>
            <label>AtRisk Succeeded</label>
        </rules>
    </decisions>
    <description>Auto-launched Flow: Identifies open Opportunities with a past CloseDate, ordered by most overdue. Invokes OpportunityQueryService with AT_RISK query type and returns atRiskText. Part of Opportunity Intelligence Agentforce Agent (US-0000184).</description>
    <interviewLabel>Get_At_Risk_Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get At Risk Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Call_AtRisk_Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>apexErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexOpportunitiesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>JSON list of at-risk opportunities ordered by overdue days, returned to the Agentforce agent.</description>
        <name>atRiskText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Error message populated when the Flow terminates via the Fault connector.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
