force-app/main/default/flows/Register_Student_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AcademicInfo</name>
        <label>Assign Academic Info</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>varGradeLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickGradeLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSchoolName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtSchoolName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_AutoPopulate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PersonalInfo</name>
        <label>Assign Personal Info</label>
        <locationX>176</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>varFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateDateOfBirth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_AcademicInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_AutoPopulate</name>
        <label>Auto-Populate Student Fields</label>
        <locationX>176</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>varEnrollmentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_StudentRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceGraduate</name>
        <choiceText>Graduate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Graduate</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceK12</name>
        <choiceText>K-12</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K-12</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUndergraduate</name>
        <choiceText>Undergraduate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undergraduate</stringValue>
        </value>
    </choices>
    <description>Screen Flow to register new students on the Student__c object. Accessible only to System Administrator and Administrator profiles. Does not reference standard Contact records.</description>
    <interviewLabel>Register Student Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Register Student Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_StudentRecord</name>
        <label>Create Student Record</label>
        <locationX>176</locationX>
        <locationY>534</locationY>
        <assignRecordIdToReference>varNewStudentId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_FaultError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Academic_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>varDateOfBirth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Date__c</field>
            <value>
                <elementReference>varEnrollmentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade_Level__c</field>
            <value>
                <elementReference>varGradeLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>varNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Name__c</field>
            <value>
                <elementReference>varSchoolName</elementReference>
            </value>
        </inputAssignments>
        <object>Student__c</object>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Screen_AcademicInfo</name>
        <label>Academic Information</label>
        <locationX>176</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AcademicInfo</targetReference>
        </connector>
        <fields>
            <name>pickGradeLevel</name>
            <choiceReferences>choiceK12</choiceReferences>
            <choiceReferences>choiceUndergraduate</choiceReferences>
            <choiceReferences>choiceGraduate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Grade Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtSchoolName</name>
            <dataType>String</dataType>
            <fieldText>School Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtPhone</name>
            <dataType>String</dataType>
            <fieldText>Phone (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtNotes</name>
            <fieldText>Notes (Optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirmation</name>
        <label>Student Registered Successfully</label>
        <locationX>176</locationX>
        <locationY>654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayConfirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(45, 156, 45);&quot;&gt;✅ Student Registered Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The student &lt;strong&gt;{!varFirstName} {!varLastName}&lt;/strong&gt; has been enrolled in the system.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/r/Student__c/{!varNewStudentId}/view&quot;&gt;View Student Record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_FaultError</name>
        <label>An Error Occurred</label>
        <locationX>440</locationX>
        <locationY>534</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayFaultError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(194, 57, 52);&quot;&gt;❌ An unexpected error occurred.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Please contact your System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_PersonalInfo</name>
        <label>Personal Information</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_PersonalInfo</targetReference>
        </connector>
        <fields>
            <name>txtFirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtLastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dateDateOfBirth</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>txtEmail</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Screen_PersonalInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDateOfBirth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEnrollmentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGradeLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewStudentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSchoolName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
